@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Root Colors */
:root{
   --phiolet-blue: #717CFF;
   --text-color: #2F2F2F;
}
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/* Container */
.container {
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
    font-size: 22px;
}
.nav-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.site-nav__list {
    display: flex;
    list-style-type: none;
}
.site-nav__item {
    margin-left: 30px;
    margin-right: 30px;
}
.site-nav__item:first-child {
    margin-left: 100px;
}
.site-nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    transition: 0.2s ease;
}
.site-nav__link:hover {
    color: var(--phiolet-blue);
}
.site-nav__link::after {
    margin-top: 10px;
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: var(--phiolet-blue);
    transition: width .3s;
}

.site-nav__link:hover::after {
    width: 100%;
    transition: width .3s;
}
.apply-btn {
    border: 2px solid #717CFF;
    text-decoration: none;
    border-radius: 11px;
    padding: 10px 33px 10px 33px;
    transition: 0.2s ease;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
}
.apply-btn:hover {
    border: 2px solid #fff;
    background-color: var(--phiolet-blue);
    color: #fff;
}

/* Hero */
.hero {
    padding-bottom: 100px;
    background-image: url("../images/student-woman.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) -2px;
    margin-bottom: 55px;
    background-color: #F2F2F2;
} 
.hero_heading {
    width: 632px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
}
.hero_heading span {
    color: var(--phiolet-blue);
}
.hero__text {
    margin-bottom: 42px;
    width: 632px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}
.hero__btn {
    margin-bottom: 100px;
    background-color: var(--phiolet-blue);
    border: 2px solid var(--phiolet-blue);
    position: relative;
    border-radius: 11px;
    padding: 12px 90px 12px 34px;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    transition: 0.2s ease;
}
.hero__btn:hover {
    background-color: #fff;
    border: 2px solid var(--phiolet-blue);
    color: var(--phiolet-blue);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.hero__btn::before {
    position: absolute;
    top: 15px;
    right: 37px;
    content: "";
    width: 24px;
    height: 22px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.hero_social-media {
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
/* Social Media */
 .social-media__list {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.social-media__link {
    margin-left: 23px;
} 
.main {
    background-color: #FAFAFA;
}
/* Featured Universities */
.featured-universities {
    background-color: #FAFAFA;
}
.featured-universities__title {
    margin-bottom: 86px;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
}
.featured-universities__slide {
    padding-bottom: 70px;
}
.slick-dots {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    padding: 10;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button:before {
    font-size: 13px !important;
    color: #979797 !important;
}
.slick-dots li.slick-active button:before {
    font-size: 15px;
    color: var(--phiolet-blue) !important;
}
/* services section */
.services {
    margin-top: 150px;
    margin-bottom: 120px;
}
.services__title {
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.services__text {
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}
.services-cards__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.services-card__item {
    max-width: 300px;
    padding: 30px;
    padding-right: 17px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.2s ease;
}
.services-card__item:hover {
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.3);
}
.services-card__item:nth-child(2) {
    margin-left: 47px;
    margin-right: 47px;
}
.services-card__item:nth-child(4) {
    margin-right: 47px;
}
.career,
.university,
.visa {
    margin-bottom: 50px;
}
.services-card__title {
    margin: 0;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.services-card__item::before {
    content: "";
    border-radius: 38px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
}
.career::before{
    background-color: #717CFF;
    background-image: url(../images/career.svg);
}
.university::before{
    background-color: #FF5959;
    background-image: url(../images/university.svg);
}
.visa::before{
    background-color: #70CE88;
    background-image: url(../images/Visa.svg);
}
.accomadation::before{
    background-color: #5C96FF;
    background-image: url(../images/accommodation.png);
}
.pre-departure::before{
    background-color: #FA706C;
    background-image: url(../images/departure.svg);
}
.services-card__text{
    max-width: 296px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}
.services-card__link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}
.services-card__link::after{
    content: "";
    display: block;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/* News Section */
.news__heading {
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.news__text {
    max-width: 949px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 100px;
}
.news-cards__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.news-card__item {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 120px;
}
.news-card__item:hover {
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.2);
}
.news-card__item:not(:first-child) {
    margin-left: 46px;
}
.news-card__img {
    display: block;
    margin-bottom: 28px;
}
.news-card__time {
    position: relative;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin-left: 56px;
}
.news-card__time::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    display: block;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 12px;
}
.news-card__title {
    width: 291px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 26px;
    padding-bottom: 28px;
}
.news-card__title a {
    text-decoration: none;
    color: #252525;
}

.join-here__btn {
    margin-left: 489px;
    background-color: var(--phiolet-blue);
    border: 2px solid var(--phiolet-blue);
    position: relative;
    border-radius: 11px;
    padding: 12px 90px 12px 34px;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    transition: 0.2s ease;
}
.join-here__btn:hover {
    background-color: #fff;
    border: 2px solid var(--phiolet-blue);
    color: var(--phiolet-blue);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.join-here__btn::before {
    position: absolute;
    top: 16px;
    right: 37px;
    content: "";
    width: 24px;
    height: 22px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}